* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* fix mobile device link style */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: #000;
  display: block;
}
html {
  font-size: 14px;
  background: #3d622b;
}
.App {
  max-width: 420px;
  background: #3c622b;
  margin: auto;
}
header {
  display: flex;
  padding: 6.5% 20%;
  color: #fff;
  font-weight: 900;
  align-items: center;
}
header h1 {
  font-size: 2.2rem;
}
header .member-photo {
  margin-right: 5%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
header p {
  color: #b9dea8;
  font-size: 1.1rem;
}

/* Home page style */
main {
  margin: 0 6.5%;
}
main .announcement {
  background: #f1f3f6;
  border-radius: 20px;
  padding: 5%;
  margin-bottom: 6.5%;
}
main h2 {
  text-align: center;
  font-weight: 900;
  font-size: 1.75rem;
}
h3 {
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-bottom: 0.7rem;
  text-align: left;
}

main hr {
  margin: 3% 0;
}
main ul li {
  margin-left: 6%;
  line-height: 1.5rem;
}

main .feature {
  display: flex;
  flex-direction: column;
}
main .row {
  display: flex;
  text-align: right;
}
.info {
  width: 50%;
  margin-right: 5%;
}
.salary {
  width: 50%;
}

.info,
.salary,
.mission {
  background: #fff;
  border-radius: 20px;
  margin-bottom: 5%;
  padding: 2.5%;
  cursor: pointer;
}
.mission {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
}
main .feature {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5%;
}
.code {
  background: #fff;
  border-radius: 20px 20px 0 0;
  padding: 7% 6.5% 6%;
}
.code {
  font-size: 1.3rem;
  line-height: 2rem;
}
button {
  padding: 10px 30px;
  color: #fff;
  background: #74bd52;
  border-radius: 5px;
  border: 0;
  margin: 5% auto;
  display: block;
  font-size: 1.3rem;
  font-weight: 900;
  cursor: pointer;
}
.notice {
  background: rgba(196, 196, 196, 0.5);
  z-index: 5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
.notice .dialog {
  background: #f1f3f6;
  width: 327px;
  height: 274px;
  border-radius: 15px;
  padding: 6.5%;
  box-shadow: 5px 5px 25px #0000003d;
  position: relative;
}
.notice .dialog h4 {
  font-size: 1.45rem;
  text-align: center;
  color: #d63939;
}
.notice .dialog h5 {
  font-size: 1.45rem;
  text-align: center;
  margin-top: 36px;
  color: #4b4545;
}
.close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
}
.close::before {
  content: "";
  width: 20px;
  height: 2px;
  border-radius: 1px;
  transform: translateY(10px) rotate(-45deg);
  display: block;
  background: #666;
}
.close::after {
  content: "";
  width: 20px;
  height: 2px;
  border-radius: 1px;
  transform: translateY(8px) rotate(45deg);
  display: block;
  background: #666;
}

/* info page style */
.info-page {
  background: #fff;
  width: 100%;
  padding: 6.5% 6.5% 10%;
  border-radius: 20px 20px 0 0;
  position: relative;
}
.info-page ul {
  margin: 6% 0;
}
.info-page li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.22rem;
  line-height: 2rem;
}
.info-page hr {
  margin: 5% 0;
}
h6 {
  font-size: 1.22rem;
}
.info-page span {
  color: #d63939;
  font-size: 1.1rem;
  padding: 6% 0;
  display: block;
}

/* info modify page style */
.info-modify {
  background: #fff;
  width: 100%;
  padding: 6.5% 6.5% 20%;
  border-radius: 20px 20px 0 0;
  position: relative;
}
.info-modify p {
  font-size: 1.22rem;
  padding: 2% 0;
}
.info-modify form {
  margin: 2% auto 6.5%;
}
.info-modify label {
  font-size: 1.22rem;
  width: 34%;
  height: 34px;
  text-align: center;
  display: inline-block;
  border-bottom: 2px solid #000;
  margin: 3% 4% 3% 0;
}
.info-modify input,
.info-modify select {
  font-size: 1.15rem;
  height: 38px;
  border: 1.5px solid #cccfd3;
  background: #f6f6f6;
  border-radius: 6px;
  width: 58.5%;
  padding: 8px 15px;
  margin: 3% 0;
}
#height,
#weight {
  width: 43%;
  margin-right: 4%;
}
input:focus-visible,
select:focus-visible {
  outline: 1px solid #3c622b;
  border-color: #3c622b;
}
.info-modify span {
  font-size: 1.15rem;
}
.info-modify h4 {
  text-align: center;
  font-size: 1.45rem;
}
.attention {
  border-radius: 20px;
  border: 1px solid #cccfd3;
  padding: 5% 5% 5% 12%;
  margin: 4% auto;
}
.btn {
  display: flex;
  justify-content: space-between;
  padding: 3% 0;
}
.btn .back-btn,
.btn .submit-btn {
  background: #f1f3f6;
  width: 135px;
  height: 60px;
  border: 2px solid rgba(255, 172, 48, 0.5);
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn .back-btn .arraw,
.btn .submit-btn .arraw {
  width: 60px;
  height: 60px;
  background: rgba(255, 172, 48, 0.5);
  border-radius: 50%;
  padding: 20px;
}
.back-btn span {
  font-size: 1rem;
  padding-right: 10px;
  text-align: center;
}
.submit-btn span {
  font-size: 1rem;
  padding-left: 10px;
  text-align: center;
}
.btn .submit-btn .arraw {
  transform: rotate(180deg);
}
